#app {
    display: inline-block;
    padding: 10px;
    font-size: x-large;
    background-color: lightgreen;
}
body {
    margin: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3044C7;
}


li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 2%;
    text-decoration: none;
}

li a:hover {
    background-color: black;
}